@model IEnumerable<NewLibrary.Models.Manager>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form id="formSearch" method="post">
    <div class="row" id="SearchBox">
        <div class="col-md-2"> Manager Name</div>
        <div class="col-md-2"> <input type="text" value="@ViewBag.name" id="name" name="name" /></div>
        <div class="col-md-1"> <input type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerPassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ManagerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ManagerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ManagerID })
        </td>
    </tr>
}

</table>
