@model IEnumerable<NewLibrary.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="formSearch" method="post">
<div class="row" id="SearchBox">
    <div class="col-md-2"> Author Name</div>
    <div class="col-md-2"> <input type="text" value="@ViewBag.name" id="name" name="name" /></div>
    <div class="col-md-1"> <input type="submit" id="submitsearch" value="Search" /></div>
</div>


</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID })
        </td>
    </tr>
}

</table>
