@model NewLibrary.Models.Loans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Books.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Books.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peopel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peopel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoansID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
